doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='keyword', content='')
    link(rel='shortcut icon', href='img/favicon.png')
    title 500
    // Bootstrap core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/bootstrap-reset.css', rel='stylesheet')
    // external css
    link(href='assets/font-awesome/css/font-awesome.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/style.css', rel='stylesheet')
    link(href='css/style-responsive.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries
    //if lt IE 9
      script(src='js/html5shiv.js')
      script(src='js/respond.min.js')
  body.body-500
    .error-head  
    .container
      section.error-wrapper.text-center
        h1
          img(src='images/500.png', alt='')
        .error-desk
          h2 OOOPS!!!
          p.nrml-txt-alt Something went wrong.
          p
            | Why not try refreshing you page? Or you can 
            a.sp-link(href='#') contact our support
            |  if the problem persists.
        a.back-btn(href='index.html')
          i.fa.fa-home
          |  Back To Home
