!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina", :name => "keyword"}/
    %link{:href => "img/favicon.png", :rel => "shortcut icon"}/
    %title Lock Screen
    / Bootstrap core CSS
    %link{:href => "bs3/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/bootstrap-reset.css", :rel => "stylesheet"}/
    / external css
    %link{:href => "assets/font-awesome/css/font-awesome.css", :rel => "stylesheet"}/
    / Custom styles for this template
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/style-responsive.css", :rel => "stylesheet"}/
    / HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries
    /[if lt IE 9]
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
  %body.lock-screen{:onload => "startTime()"}
    .lock-wrapper
      #time
      .lock-box.text-center
        .lock-name Jonathan Smith
        %img{:alt => "lock avatar", :src => "images/lock_thumb.jpg"}/
        .lock-pwd
          %form.form-inline{:action => "index.html", :role => "form"}
            .form-group
              %input#exampleInputPassword2.form-control.lock-input{:placeholder => "Password", :type => "password"}/
              %button.btn.btn-lock{:type => "submit"}
                %i.fa.fa-arrow-right
    :javascript
      function startTime()
      {
          var today=new Date();
          var h=today.getHours();
          var m=today.getMinutes();
          var s=today.getSeconds();
          // add a zero in front of numbers<10
          m=checkTime(m);
          s=checkTime(s);
          document.getElementById('time').innerHTML=h+":"+m+":"+s;
          t=setTimeout(function(){startTime()},500);
      }

      function checkTime(i)
      {
          if (i<10)
          {
              i="0" + i;
          }
          return i;
      }
