doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='ThemeBucket')
    link(rel='shortcut icon', href='images/favicon.png')
    title Login
    // Core CSS
    link(href='bs3/css/bootstrap.min.css', rel='stylesheet')
    link(href='css/bootstrap-reset.css', rel='stylesheet')
    link(href='assets/font-awesome/css/font-awesome.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/style.css', rel='stylesheet')
    link(href='css/style-responsive.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy this line!
    //if lt IE 9
      script(src='js/ie8/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
  body.login-body
    .container
      form.form-signin(action='index.html')
        h2.form-signin-heading registration now
        .login-wrap
          p Enter your personal details below
          input.form-control(type='text', placeholder='Full Name', autofocus='')
          input.form-control(type='text', placeholder='Address', autofocus='')
          input.form-control(type='text', placeholder='Email', autofocus='')
          input.form-control(type='text', placeholder='City/Town', autofocus='')
          .radios
            label.label_radio.col-lg-6.col-sm-6(for='radio-01')
              input#radio-01(name='sample-radio', value='1', type='radio', checked='')
              |  Male
            label.label_radio.col-lg-6.col-sm-6(for='radio-02')
              input#radio-02(name='sample-radio', value='1', type='radio')
              |  Female
          p  Enter your account details below
          input.form-control(type='text', placeholder='User Name', autofocus='')
          input.form-control(type='password', placeholder='Password')
          input.form-control(type='password', placeholder='Re-type Password')
          label.checkbox
            input(type='checkbox', value='agree this condition')
            |  I agree to the Terms of Service and Privacy Policy
          button.btn.btn-lg.btn-login.btn-block(type='submit') Submit
          .registration
            | Already Registered.
            a(href='login.html')
              | Login
    // Placed js at the end of the document so the pages load faster
    // Core js
    script(src='js/lib/jquery.js')
    script(src='bs3/js/bootstrap.min.js')
